html, body {
  width: 100%;
  overflow-x: hidden
}

body {
  font-family: "Montserrat";
  text-align: left;
}

section {
  height: auto;
}

/* MENU */

#title {
  width: 100%;
  height: auto;
  background-color: #1A1C20;
}

/* Navigation */

.menu {
  background-color: #F0A500;
}

.myname {
  padding-left: 4%;
}

.logo {
  width: 25px;
  margin: 0 10px 5px 20px;
}

.icon {
  width: 35px;
  position: absolute;
  right: 5%;
}

.menu-items {
  padding-right: 70px;
}

.nav-link {
  color: #1A1C20;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 5px 50px 0 0;
  text-align: left;
}

li .nav-item {
  padding: 0 10px 0 5px;
}

.nav-item a:hover {
  color: white;
  font-weight: 800;
}

/* Containers */

.container-fluid {
  padding: 5% 7% 1%;
}

/* Main-page */

.tubes {
  width: 100%;
  position: absolute;
  padding: 130px 50px 100px 50px;
}

.tubes2, .tubes22 {
  width: 100%;
  position: absolute;
}

.tubes3 {
  position: absolute;
  visibility: hidden;
}

.main-img {
  width: 60%;
  margin: 20% 30%;
}

.designer {
  width: 60%;
  margin: 37% 12%;
}

.up {
  position: fixed;
  bottom: 2%;
  right: 2%;
  width: 50px;
  z-index: 1;
}

/* About section */

p {
  font-weight: 400;
  font-size: 12pt;
  line-height: 1.5;
}

h3 {
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
}

 #about {
  width: 100%;
  height: auto;
  background-color: white;
  position: relative;
  margin: 0 0 20px 0;
}

.col-lg-9 {
  padding-top: 30px;
}

.col-lg-3 {
  margin: 0;
  padding: 0;
}

.ydeco,
.ydeco2  {
  width: 100%;
  position: absolute;
  top: 0;
}

.ydeco3,
.ydeco4  {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.main-img-sm {
  width: 90%;
  padding: 40px 0;
}

/* About section, cards */

h6 {
  text-align: center;
  font-size: 13pt;
}

.cards {
  margin: 0 3%;
  text-align: center;
}

.card {
  border-radius: 15px;
}

.card-body {
  padding-bottom: 10px;
  margin: 0;
}

.progs {
  padding: 10px 10px;
  margin: auto;
  align-items: center;
}

.progs-row {
  margin: auto;
}

.skills {
  margin: auto;
  padding-bottom: 20px;
}

.skill-icon {
  width: 60px;
  text-align: center;
}

.star-row {
  padding-left: 5px;
  margin: 0 0 10% 0;
  text-align: center;
}

.star {
  width: 15px;
  margin: 10px 1px;
  text-align: center;
}

.card .btn {
  border-radius: 0 0 10px 10px;
}

/* section Work 2D */

#work2d {
 width: 100%;
 height: auto;
 background-color: #1A1C20;
 position: relative;
 margin: 0;
}

.work2d-image {
  border-radius: 1.5%;
  width: 70%;
  margin: 10px 30px 0;
}

.skills2d {
  font-size: 1.8rem;
  color: white;
  margin: 0 5%;
  text-align: center;
  padding-bottom: 30px;
}

.carousel-item {
  text-align: center;
}

/* section Work 3D */

#work3d {
 width: 100%;
 height: auto;
 background-color: #1A1C20;
 position: relative;
 margin: 0;
}

.ydeco6 {
  width: 100%;
  position: absolute;
  bottom: -1px;
}

.ydeco4 {
  width: 100%;
  position: absolute;
  top: 0;
}

.work3d-image {
  border-radius: 1.5%;
  width: 80%;
  margin: 10px 0 30px 0;
}

.carousel-item {
  text-align: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  border-radius: 100%;
}

.carousel-control-next,
.carousel-control-prev {
  margin: 5% 0;
}

/* section Work web */

#web {
 width: 100%;
 height: auto;
 background-color: white;
 position: relative;
 margin: 0;
}

.web-card {
  padding: 5% 5% 10%;
}

.web-logos {
  width: 70px;
  margin: auto;
}

.web-img {
  width: 33%;
  padding: 0 20px;
  margin: auto;
}

.web-img-row {
  text-align: justify;
}

.ydeco5 {
  width: 100%;
  position: absolute;
  bottom: -1px;
  padding-top: 5%;
}

/* Contacts */

#contacts {
 width: 100%;
 height: auto;
 background-color: #1A1C20;
 position: relative;
 margin: 0;
 padding: 70px 50px 160px 50px;
}

.contacts {
  height: 50%;
}

h1 {
  color: #1A1C20;
  font-weight: 600;
  font-size: 2.5rem;
  padding: 20px;
}

h4 {
  color: #1A1C20;
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 3%;

}

.back-cont {
  margin: 0;
  width: 85%;
  position: absolute;
  top: 16%;
  left: 8%;
}

.con-icon {
  width: 20%;
  margin: 3px 10px;
}

.form-list,
.cont-list {
  padding: 4% 5%;
  margin: 0;
}

.icon-list {
  margin: 0;
  padding-top: 30px;
}

/* Breaking points */

 @media (min-width: 994px) and (max-width: 1250px) {
  section {
    height: auto;
  }
  #title {
    text-align: center;
  }
  .tubes2, .tubes22 {
    visibility: hidden;
  }
  .tubes {
    visibility: visible;
    left: 1%;
    padding: 145px 140px 80px 30px;
    margin: auto;
    width: 107%;
  }
  .main-img {
    width: 60%;
    margin: 30% 0 0 10%;
    padding:
  }
  .designer {
    padding: 0;
    width: 70%;
    padding-top: 30px;
  }
  .myname {
    padding-left: 1%;
  }
  .menu-items {
    padding-right: 15px;
  }
  .back-cont {
    top: 23%;
  }
  h4 {
    font-size: 1rem;
  }
  .form-group {
    margin-bottom: 5px;
  }
}

@media (max-width: 994px) {
 #title {
   text-align: center;
 }
 .tubes {
   visibility: hidden;
 }
 .tubes3{
   width: 70%;
   visibility: visible;
   position: absolute;
   top: 25%;
   left: 15%;
 }
 .main-img {
   width: 60%;
   margin: 0;
   padding: 0 0 250px 0;
 }
 .designer {
   text-align: center;
   padding: 0;
   width: 50%;
   margin: 20% 0 10% 0;
 }
 .main-img-sm {
   visibility: hidden;
   position: absolute;
 }
 .col-lg-9 {
   padding: 40px 0 0 25px;
 }
 .con-icon {
   width: 10%;
 }
 .nav-link {
   font-size: 1.7rem;
 }
 p, h6 {
   font-size: 1.7rem;
 }
}


 @media (max-width: 750px) {
   #title {
     text-align: center;
   }
   .tubes {
     visibility: hidden;
   }
   .tubes3{
     width: 70%;
     visibility: visible;
     position: absolute;
     top: 15%;
     left: 15%;
   }
   .main-img {
     width: 60%;
     margin: 0;
     padding: 0 0 120px 0;
   }
   .designer {
     text-align: center;
     padding: 0;
     width: 50%;
     margin: 20% 0 10% 0;
   }
   .main-img-sm {
     visibility: hidden;
     position: absolute;
   }
   .col-lg-9 {
     padding: 40px 0 0 25px;
   }
   .back-cont {
     visibility: hidden;
   }
   .background {
     background-color: #F0A500;
     width: auto;
     margin: auto;
   }
}
@media (max-width: 415px) {
  #title {
    text-align: center;
  }
  .tubes {
    visibility: hidden;
  }
  .tubes3{
    width: 75%;
    visibility: visible;
    position: absolute;
    top: 13%;
    left: 13%;
  }
  .main-img {
    width: 60%;
    margin: 0;
    padding: 0 0 110px 0;
  }
  .designer {
    text-align: center;
    padding: 0;
    width: 50%;
    margin: 20% 0 10% 0;
  }
  .main-img-sm {
    visibility: hidden;
    position: absolute;
  }
  .col-lg-9 {
    padding: 40px 0 0 25px;
  }
  p {
    font-size: 14pt;
  }
  h6, h4 {
    font-size: 10pt;
  }
  #contacts {
    padding: 20px;
  }
}
